@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* variables */

:root{
    

    /* Fonts */
    --font-size: 16px;
    --FONT-WEIGHT: 800;


    /* colors */

    --white: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
     --yellow: hsl(47, 88%, 63%);

    
    
}

body{
    background-color: var(--yellow);
    font-family: 'Figtree';
    margin: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
}

.main{
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}
.main__card{
     margin: 40px auto;
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 10px 10px   var(--Black);  
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 50%;
    height: auto;
    justify-content: center;
    min-width: 25rem;
    width: 20%;


}

/* active state  */

    .main__card:hover,.main__card:visited{
    box-shadow: 20px 20px var(--Black) ;
    cursor: pointer;
    transition: 0.8s ease;
}

.main__card:hover h1{
    color: var(--yellow);
}


svg{
 
    margin-top: 10px;
    margin: auto;
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    padding: 0;
}
h1,h2,h3,p{
   font-size: var(--font-size);
   margin-left: 20px;
   font-weight: var(--FONT-WEIGHT);
}
img{
    width: 40px;
    margin-left: 20px;
   display: inline;
   padding: 0;

}

h2{
    background-color: var(--yellow);
    border-radius: 5px;
    padding: 5px;
}

p{
    color: var(--Grey);
}

h4{
    display: inline;
    margin-left: 5rem;
    margin-top: -30px;
}

/* attribution */

.main__attribution{
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
   
}

.main__attribution a,.main__attribution a:link{
    color: rgb(65, 167, 167);
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}





@media (min-width:394px) and (maxwidth:2000px){
.main__card{
    width: 20%;
    height: auto;
    min-width: 300px;
    min-height: 600px;
}
}



